<div class="background">
  <div class="main-body">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="intro">
            <div class="main" style="transition-delay: 200ms">
              <p>Hi my name is</p>
              <h2>Julien Martin</h2>
              <p>I'm a junior web developper who is passionate by coding and learning about tech</p>
              <button type="button" class="btn btn-outline-info">Check my CV here !</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="logo">
          </div>
          <div class="hidden-logo">
          </div>
        </div>
        <div class="col-12">
          <div class="about-me">
            <div class="main" style="transition-delay: 200ms">
              <h3>01. About me</h3>
              <p>I am a passionate and ambitious web developer with experience in both front-end and back-end development. I have a strong foundation in Ruby, HTML, CSS, JavaScript, and various programming languages. I am eager to learn and constantly stay up-to-date with the latest industry trends and technologies. With excellent communication and problem-solving skills, I am committed to delivering high-quality work and exceeding client expectations.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="projects">
            <div class="main" style="transition-delay: 200ms">
              <h3>02. Projects</h3>
              <div class="dreamer">
                <div class="row">
                  <div class="col-8">
                    <div class="text">
                    <h4>Dreamers</h4>
                    <p>A simple and cool app who generate images from the dreams of the user. This app was a group project and was coded in ruby, js, html and scss with rails. For the generation of images we choose to use the open-ai API because she was pretty flexible and easy to use.</p>
                    <a href="http://www.wearedreamer.me/">You can check the app here ! (the app is designed for mobile)</a>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="image-dreamer">
                    </div>
                  </div>
                </div>
              </div>
              <div class="costumizer">
                <div class="row">
                  <div class="col-4">
                    <div class="image-costumizer">
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="text">
                    <h4>Costumizer</h4>
                    <p>A fictional marketplace where you can find weird costume ! This app was a group project and was coded in ruby, js, html and scss with rails. We use the mapbox API to put simple map utilisation on our app and we added a lot of simple feature like bookmarks or booking with calendar in our app.</p>
                    <a href="https://costumizer.herokuapp.com/">You can check the app here ! </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="experiences">
            <div class="main" style="transition-delay: 200ms">
              <h3>03. Experience</h3>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="contact">
            <div class="main" style="transition-delay: 200ms">
              <h3>04. Contact</h3>
              <h5>Mobile : 0762605135 </h5>
              <h5>Mail : julien.martin941@gmail.com</h5>
              <p><a href="https://github.com/JPM941"><i class="fa-brands fa-github fa-xl"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
