<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://res.cloudinary.com/dvedgufo1/image/upload/v1679575838/dd07a4837efd4865b11af748c3f42b8a_2_swlf7r.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#scrollspyHeading1">01.About Me </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">02.Projects </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3">03.Experiences </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading4">04.Contact </a>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="background">
  <div class="main-body">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="intro">
            <div class="main" style="transition-delay: 200ms">
              <p>Hi my name is</p>
              <h2>Julien Martin</h2>
              <p>I'm a junior web developper who is passionate by coding and learning about tech</p>
              <button type="button" class="btn btn-outline-info">Check my CV here </button>
            </div>
          </div>
        </div>
        <div class="col-4">
        </div>
        <div class="col-12">
          <div class="about-me">
            <div class="main" style="transition-delay: 200ms">
              <h3 id="scrollspyHeading1">01. About me</h3>
              <p>I am a passionate and ambitious web developer with experience in both front-end and back-end development. I have a strong foundation in Ruby, HTML, CSS, JavaScript, and various programming languages. I am eager to learn and constantly stay up-to-date with the latest industry trends and technologies. With excellent communication and problem-solving skills, I am committed to delivering high-quality work and exceeding client expectations.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="projects">
            <div class="main" style="transition-delay: 200ms">
              <h3 id="scrollspyHeading2">02. Projects</h3>
              <div class="dreamer">
                <div class="row">
                  <div class="col-8">
                    <div class="text">
                    <h4>Dreamers</h4>
                    <p>A simple and cool app who generate images from the dreams of the user. This app was a group project and was coded in ruby, js, html and scss with rails. For the generation of images we choose to use the open-ai API because she was pretty flexible and easy to use.</p>
                    <a href="http://www.wearedreamer.me/">You can check the app here ! (the app is designed for mobile)</a>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="image-dreamer">
                    </div>
                  </div>
                </div>
              </div>
              <div class="costumizer">
                <div class="row">
                  <div class="col-4">
                    <div class="image-costumizer">
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="text">
                    <h4>Costumizer</h4>
                    <p>A fictional marketplace where you can find weird costume ! This app was a group project and was coded in ruby, js, html and scss with rails. We use the mapbox API to put simple map utilisation on our app and we added a lot of simple feature like bookmarks or booking with calendar in our app.</p>
                    <a href="https://costumizer.herokuapp.com/">You can check the app here ! </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="experiences">
            <div class="main" style="transition-delay: 200ms">
              <h3 id="scrollspyHeading3">03. Experience</h3>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="contact">
            <div class="main" style="transition-delay: 200ms">
              <h3 id="scrollspyHeading4">04. Contact</h3>
              <h5>Mobile : 0762605135 </h5>
              <h5>Mail : julien.martin941@gmail.com</h5>
              <p><a href="https://github.com/JPM941"><i class="fa-brands fa-github fa-xl"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
