<div class="background">
  <div class="main-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="intro">
            <div class="main" style="transition-delay: 200ms">
              <p>Hi my name is</p>
              <h2>Julien Martin</h2>
              <p>I'm a junior web developper who is passionate by coding and learning about tech</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="about-me">
            <div class="main" style="transition-delay: 200ms">
              <h3>01. About me</h3>
              <p>I am a passionate and ambitious web developer with experience in both front-end and back-end development. I have a strong foundation in HTML, CSS, JavaScript, and various programming languages. I am eager to learn and constantly stay up-to-date with the latest industry trends and technologies. With excellent communication and problem-solving skills, I am committed to delivering high-quality work and exceeding client expectations.</p>

            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="projects">
            <div class="main" style="transition-delay: 200ms">
              <h3>02. Projects</h3>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="experiences">
            <div class="main" style="transition-delay: 200ms">
              <h3>03. Experience</h3>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="contact">
            <div class="main" style="transition-delay: 200ms">
              <h3>04. Contact</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
