.main {
  padding: 10vh;
  color: #8892b0;
}

.main h3 {
  font-size: 5vh;
  color: #64ffda;
  font-family: 'Source Code Pro', monospace;
}

.main h2 {
  font-size: 4vh;
  color: white;
  font-family: 'Source Code Pro', monospace;
}

.about-me {
  text-align: right;
  &:hover {
    transition-duration: 300ms;
    h3 {
        color: #FFC65A;
  }
  border: thick double #FFC65A;
  border-radius: 50px;
}
}

.experiences {
  text-align: right;
  &:hover {
    transition-duration: 300ms;
    h3 {
        color: #FFC65A;
  }
  border: thick double #FFC65A;
  border-radius: 50px;
}
}


.contact {
  &:hover {
    transition-duration: 300ms;
    h3 {
        color: #FFC65A;
  }
}
}

.intro button {
  text-align: right;
}

.image-dreamer {
  position:relative;
  left: 15vh;
  height: 30vh;
  width: 30vh;
  border: #FFC65A;
  border-radius: 10%;
  background-size: cover;
  box-shadow: #64ffda 0px 0px 0px 2px inset;
  background-image: url("https://res.cloudinary.com/dvedgufo1/image/upload/v1679532711/logo-dreamer_c1jd58.png");
}

.image-costumizer {
  position:relative;
  height: 30vh;
  width: 30vh;
  border: #FFC65A;
  border-radius: 10%;
  background-size: cover;
  box-shadow: #64ffda 0px 0px 0px 2px inset;
  background-image: url("https://res.cloudinary.com/dvedgufo1/image/upload/v1679531919/logo_wkpmnh.png");
}

.dreamer {
  &:hover {
    transition-duration: 300ms;
    .dreamer, h4 {
      color: #64ffda;
    }
    .image-dreamer {
      box-shadow: #64ffda 0px 0px 0px 2px inset, #0a192f 10px -10px 0px -3px, #FFC65A 10px -10px, #0a192f 20px -20px 0px -3px, #FFC65A 20px -20px, #0a192f 30px -30px 0px -3px, #FFC65A 30px -30px, #0a192f 40px -40px 0px -3px, #FFC65A 40px -40px;
    transition-duration: 300ms;
    }
  }
  padding-bottom: 5vh;
}

.costumizer {
  &:hover {
    transition-duration: 300ms;
    .costumizer, h4 {
      color: #64ffda;
    }
    .image-costumizer {
      box-shadow: #64ffda 0px 0px 0px 2px inset, #0a192f -10px -10px 0px -3px, #FFC65A -10px -10px, #0a192f -20px -20px 0px -3px, #FFC65A -20px -20px, #0a192f -30px -30px 0px -3px, #FFC65A -30px -30px, #0a192f -40px -40px 0px -3px, #FFC65A -40px -40px;
    transition-duration: 300ms;
    }
  }
  padding-bottom: 5vh;
}

.logo {
  position: relative;
  margin-top: 15vh;
  left: 18vh;
  height: 20vh;
  width: 20vh;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dvedgufo1/image/upload/v1679575838/dd07a4837efd4865b11af748c3f42b8a_2_swlf7r.png");
  &:hover {
    transition-duration: 500ms;
    height: 25vh;
    width: 25vh;
    }
}

.contact, h5 {
  color: #64ffda;
  &:hover {
    transition-duration: 300ms;
    color: #FFC65A;
    font-size: 3vh;
    }
}

.contact i {
  color: #64ffda;
  text-decoration: none;
  font-size: 5vh;
}

.contact p {
  padding: 2vh;

}

.dreamer a {
  text-decoration: none;
  color: #FFC65A;
}

.costumizer a {
  text-decoration: none;
  color: #FFC65A;
}

.birthday a {
  text-decoration: none;
  color: #FFC65A;
}

.navbar {
  background-color: #0a192f;
}

.nav-item {
  color: #64ffda;
  font-family: 'Source Code Pro', monospace;
}
.nav-link {
  text-decoration: none;
  color: #64ffda;
  &:hover {
    transition-duration: 200ms;
    color: #FFC65A;
  }
}

.cv {
  text-decoration: none;
  color: white;
  &:hover {
    transition-duration: 200ms;
    color: white;
  }
}

.skills {
  text-align:left;
  font-size: large;
  &:hover {
    transition-duration: 200ms;
    color:#64ffda;
  }
}

#scrollspyHeading3 {
  text-align: right;
}

.git {
  color: #64ffda;
  &:hover {
    transition-duration: 200ms;
    color:#FFC65A;
  }
}

.birthday {
  &:hover {
    transition-duration: 300ms;
    .birthday, h4 {
      color: #64ffda;
    }
    .image-birthday {
      box-shadow: #64ffda 0px 0px 0px 2px inset, #0a192f 10px -10px 0px -3px, #FFC65A 10px -10px, #0a192f 20px -20px 0px -3px, #FFC65A 20px -20px, #0a192f 30px -30px 0px -3px, #FFC65A 30px -30px, #0a192f 40px -40px 0px -3px, #FFC65A 40px -40px;
    transition-duration: 300ms;
    }
  }
  padding-bottom: 5vh;
}

.image-birthday {
  position:relative;
  left: 15vh;
  height: 30vh;
  width: 30vh;
  border: #FFC65A;
  border-radius: 10%;
  background-size: cover;
  box-shadow: #64ffda 0px 0px 0px 2px inset;
  background-image: url("https://res.cloudinary.com/dvedgufo1/image/upload/v1690325226/bday_logo_crswub.jpg");
}

.front {
  text-align: center;
  border:solid #64ffda;
  border-radius: 10px;
  color: #64ffda;
  font-family: 'Source Code Pro', monospace;
}

.front h3 {
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 5vh;
}
