.main {
  padding: 10vh;
  color: #8892b0;
}

.main h3 {
  font-size: 5vh;
  color: #64ffda;
}

.main h2 {
  font-size: 10vh;
  color: white;
}

.about-me {
  text-align: right;
}

.experiences {
  text-align: right;
}

.intro button {
  text-align: right;
}
